.button {
  height: 30px;
  color: #494a55;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 0 5px;
  width: 200px;
  cursor: pointer;
  outline: none;
  text-transform: capitalize;
}

.button:hover {
  opacity: 0.7;
  color: #ffffff;
  background-color: var(--theme-color);
}
