.wrapper {
  display: flex;
  height: 65px;
  padding: 5px 30px;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  height: 45px;
}

.header {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: var(--theme-color);
  color: #fff;
  padding: 7px 11px;
  margin: 0 0 0 15px;
  font-size: 21px;
  border-radius: 2px;
  word-spacing: 2px;
}
