.wrapper {
  display: flex;
  height: 65px;
  padding: 0 13px;
  align-items: center;
  border-bottom: 1px solid #00000017;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  height: 38px;
}

.header {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: var(--theme-color);
  color: #fff;
  padding: 18px 20px;
  margin: 0 0 0 15px;
  font-size: 21px;
  word-spacing: 2px;
}
