.wrapper {
  margin: 9px 0;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px;
}

.wrapper.marginRight svg {
  position: absolute;
  top: 11px;
  left: 13px;
  font-size: 10px;
}

.label {
  font-size: 12px;
}

.marginRight {
  border-right: 1px solid var(--border-color);
}
