.wrapper {
 margin: 0 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper svg {
  position: absolute;
  top: 26px;
  left: 3px;
  font-size: 10px;
}

.label {
  font-size: 12px;
}
